.container {
  width: 100%;
  min-height: 910px;
  background-color: #fff;

  .swapperWarp {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(235, 234, 234);

    .swapper {
      margin: 0 auto;

      @media (min-width: 400px) {
        width: 400px;
      }

      @media (min-width: 768px) {
        width: 750px;

      }

      @media (min-width: 992px) {
        width: 970px;
      }

      @media (min-width: 1240px) {
        width: 1200px;
      }
    }
  }

  .con1 {
    margin: 0 auto;
    padding: 20px;
  }

  .yzconWarp {
    margin: 20px;

    .yzcon {
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .yzconLeft {
        .yzconLeftBt1 {
          font-size: 18px;
          color: #3e3e3e;
        }

        .yzconLeftBt2 {
          padding-top: 50px;
          font-size: 16px;
          color: #3e3e3e;
        }
      }
    }
  }
}


// 选择律页，介绍信息
.introduceWarp {
  margin: 20px;

  .introduce {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

// 知识列表页面
.knowWarp {
  margin: 20px;

  .know {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

// 详情页面
.detailsWarp {
  margin: 20px;

  .details {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    .detailsLeft {
      width: 200px;
      margin-right: 50px;

      .detailsLeftBt {
        font-size: 16px;
        color: #3e3e3e;
        line-height: 30px;
      }
    }

    .detailsRight {
      flex: auto;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column;

      .detailsRightBt {
        font-size: 24px;
        color: #3e3e3e;
        padding-bottom: 20px;
      }
    }
  }
}

// 价格页面
.priceWarp {
  margin: 20px;

  .price {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .priceTitle {
      line-height: 40px;
      font-weight: bold;
      font-size: 18px;
    }
  }

  .tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .tabsTitle {
      width: 100%;
      display: flex;
      flex-direction: row;
      font-size: 16px;
      cursor: pointer;

      .tabsTxt {
        flex: 1;
        text-align: center;
      }

      .tabsTxtHover {
        flex: 1;
        text-align: center;
        color: #00913A;
      }
    }

    .tabsCon {
      margin-top: 30px;
      font-size: 16px;

      .tabsConTxt {
        flex: 1;
        text-align: center;
      }
    }
  }
}

.con1,
.yzcon,
.introduce,
.know,
.details,
.price {
  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1240px) {
    width: 1200px;
  }
}